body {
  background-color: rgba(0, 0, 0, 0.1);
}

.wrapper {
  font-size: 16px;
  line-height: 1.2;
}

.header {
  height: 189px;
  /*font-size: 0.8em;*/
  background-color: white;
  width: 750px;
  margin: 0 auto;
}

.name-content {
  display: flex;
}

.photo {
  width: 240px;
  background-color: orange;
}

.my-photo {
  width: 231px;
}

.my-name {
  width: 500px;
  padding: 20px;
  background-color: rgb(78, 65, 88);
  margin-top: 25px;
  margin-bottom: 50px;
}

.my-name h1 {
  margin: 0 0 0 9px;
}

.my-name h3 {
  margin: 0 0 0 9px;
  font-size: 1em;
}

.main__content {
  width: 750px;
  margin: 0 auto;
}

.summary__section {
  background-color: greenyellow;
  display: flex;
  min-height: 750px;
}

.left-column {
  padding: 20px;
  width: 200px;
  color: black;
  background-color: rgb(78, 65, 88);
}

a {
  text-decoration: none;
  color: black;
}

.right-column {
  padding: 20px;
  width: 500px;
  background-color: white;
}
.contacts-content {
  list-style: none;
}

.footer {
  display: flex;
  height: 50px;
  width: 750px;
  margin: 0 auto;
  background-color: white;
  align-items: center;
}
.logo {
  width: 50px;
  height: 50px;
}
.footer-block {
  margin-right: 40px;
}
